<jt-data-table
        columns="{{ columnsJson }}"
        data="{{ dataJson }}"
        height="{{height}}"
        component-key="{{getInternalKey}}"
        selection-mode="{{selectionMode}}">
</jt-data-table>
